In [11]:
import pandas as pd
a = pd.read_csv("/home/rishabh/Desktop/orange_small_train.data", sep="\t")

In [18]:
a['Var222']

0        fXVEsaq
1        2Kb5FSF
2        NKv4yOc
3        CE7uk3u
4        1J2cvxe
5        QqVuch3
6        XlgxB9z
7        R2LdzOv
8        K2SqEo9
9        EPqQcw6
10       catzS2D
11       VWtIBQt
12       WfsWw2A
13       QKXEsaq
14       kYwEsaq
15       IIvQguc
16       WfsWw2A
17       catzS2D
18       DQ3iZDY
19       VQZzrB7
20       UbjqFbB
21       1gu2qo0
22       9JvQQMs
23       rUj52Lp
24       ag5iNPX
25       CmhRjAG
26       nytT3Cb
27       IhKskzO
28       DNvRusu
29       e7bTQlu
          ...
49970    _sz_44J
49971    cObaF5M
49972    rH0P_83
49973    catzS2D
49974    alU2fT4
49975    UP3EVaf
49976    catzS2D
49977    catzS2D
49978    dXi2qo0
49979    mh7QQMs
49980    catzS2D
49981    iQJ2C8o
49982    RkjqJRo
49983    rT1Esaq
49984    APgdzOv
49985    cObCBw5
49986    MRPKMwm
49987    c4R2fT4
49988    BULTE6Y
49989    bIKwXmR
49990    E8Sj7qz
49991    NbpqwxB
49992    SiXzrB7
49993    Vo68gbh
49994    dclJEx2
49995    EROH7Cg
49996    GfSQowC
49997    dh6qI2t
49998    2fF2Oqu
49999    IIvC99a
Name: Var222, Length: 50000, dtype: object

TypeError: 'numpy.ndarray' object is not callable